#shopping-cart table{width:100%;background-color:#F0F0F0;}

#shopping-cart table td{background-color:#FFFFFF;}

.txt-heading {    
	padding: 10px 10px;
    border-radius: 2px;
    font-size: 24px;
    color: #FFF;
    background: #36342F;
}

a.btnRemoveAction{color:white;border:0;padding:2px 10px;font-size:1em;}

a.btnCheckOutAction{color:white;border:0;padding:2px 10px;font-size:1em;}

#btnEmpty {
	background-color: #ffffff;
    border: #FFF 1px solid;
    padding: 1px 10px;
    color: #ff0000;
    font-size: 0.8em;
    float: right;
    text-decoration: none;
    border-radius: 4px;
}

#shopping-cart {margin-bottom:30px;}

.cart-item {border-bottom: #79b946 1px dotted;padding: 10px;}
